<template>

<html>
<head>
</head>

<body>
    <div class="blg-wrapper">

        <header>
            <div class="logo">
                <a href="#"><img alt="" src="../../images/gc_logo.png"></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="tracker.html"><i class="ico-location4"></i>Tracker</a>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)"><i class="ico-bubbles10"></i>Conversations<span class="navbar-new">5</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="ico-bullhorn"></i>Alerts</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="ico-users"></i>Community</a>
                    </li>						
                </ul>
            </nav>
            <div class="dropdown right-cont nav navbar-nav navbar-right pull-right">
                <div class="drop-cont dropdown-toggle" data-toggle="dropdown" role="button">
                    <div class="jd-title">
                        <div class="caps-top">
                            <span>Pavel Belyantsev</span>
                        </div>
                        <div class="caps-bottom">Friday 02/05/2016 4:32 PM EST</div>
                    </div>
                    <!--div class="jd-icon">
                        Pb
                    </div-->
                    <img class="avatar-top" src="../../images/owner_avatar.png"></img>
                    <div class="clearfix"></div>
                </div>
            </div>
        </header>


		<div class="blg-fixed-wrapper">

		</div>


    </div>
</body>

</html>

</template>
