// Spinner variants

@mixin adjust-huener-variant($up-btn-height, $down-btn-height, $line-height){
  & + .ui-adjust-huener-button {
    height: $up-btn-height;
    line-height: $line-height;
  }
  & + .ui-adjust-huener-button + .ui-adjust-huener-button {
    height: $down-btn-height;
    line-height: $line-height;
  }
}