<template>
    <div class="members-table-buttons-bar">
        <button id="btn-members-make-call" if.bind="hasAction(GRIDCALL)" click.delegate="makeCallCommunityMembers(selectedMembers)" class="btn btn-success btn-xs-square" i18n="[title]button.makeCall" disabled.bind="(!selectedMembers) || (selectedMembers.length === 0)">
            <i class="ico-phone2"></i>
        </button>
        <button id="btn-members-send-alert" if.bind="hasAction(ALERT)" click.delegate="sendAlertCommunityMembers(selectedMembers, [])" class="btn btn-primary btn-xs-square" i18n="[title]button.sendAlert" disabled.bind="(!selectedMembers) || (selectedMembers.length === 0)">
            <i class="ico-bullhorn"></i>
        </button>
        <button id="btn-members-start-conversation" if.bind="hasAction(STARTCONVERSATION)" class="btn btn-info btn-xs-square" i18n="[title]button.startConversation" disabled.bind="(!selectedMembers) || (selectedMembers.length === 0)">
            <i class="ico-bubble-plus"></i>
        </button>

        <span class="dummy-btn"></span>

        <button id="btn-members-send-request" if.bind="hasAction(ADDCONNECTION)" click.delegate="sendConnectionRequest(selectedMembers)" class="btn btn-info btn-xs-square" i18n="[title]community.connections.addConnections" disabled.bind="(!selectedMembers) || (selectedMembers.length === 0)">
            <i class="ico-link"></i>
        </button>
        <button id="btn-members-disconnect" if.bind="hasAction(REMOVECONNECTION)" click.delegate="parent.parent.editConnectionRequest(selectedMembers, 'TERMINATE', 'CONNECTION_TERMINATED')" class="btn btn-danger btn-xs-square" i18n="[title]community.connections.removeConnections" disabled.bind="(!selectedMembers) || (selectedMembers.length === 0)">
            <i class="ico-unlink2"></i>
        </button>        			
        <button id="btn-members-add-member" if.bind="hasAction(ADDMEMBER)" click.delegate="addCommunityMembers()" class="btn btn-info btn-xs-square" i18n="[title]button.addMembers" disabled.bind="((!selectedMembers) || (selectedMembers.length === 0) && !(selectedCmty))">
            <i class="ico-user-plus"></i>
        </button>
        <button id="btn-members-delete-member" if.bind="hasAction(REMOVEMEMBER)" click.delegate="deleteCommunityMembers(selectedMembers)" class="btn btn-danger btn-xs-square" i18n="[title]button.deleteMembers" disabled.bind="(!selectedMembers) || (selectedMembers.length === 0)">
            <i class="ico-user-minus"></i>
        </button>
        <button id="btn-members-add-coordinator" if.bind="hasAction(SETCOORDINATOR)" click.delegate="setCommunityCoordinatorRoles(selectedMembers, 'COORDINATOR')" class="btn btn-info btn-xs-square" i18n="[title]button.addCoordinator" disabled.bind="(!selectedMembers) || (selectedMembers.length === 0)">
            <i class="fa fa-users"></i>
        </button>
        <button id="btn-members-delete-coordinator" if.bind="hasAction(SETCOORDINATOR)" click.delegate="setCommunityCoordinatorRoles(selectedMembers, 'MEMBER')" class="btn btn-danger btn-xs-square" i18n="[title]button.removeCoordinator" disabled.bind="((!selectedMembers) || (selectedMembers.length === 0)) || !(hasCoordinatorRole)">
            <i class="fa fa-users"></i>
        </button>
    </div>
</template>