<template>

    <ag-grid-aurelia #membersGrid ref="gridEl" style="height: 100%;" class="ag-blg"
                                grid-options.bind="gridOptions"
                                context.bind="$this"
                                enable-col-resize
                                row-height.bind=60
                                header-height.bind=40
                                suppress-menu-hide
                                sorting-order.bind="['desc','asc']"
                                pagination-page-size.bind="paginationPageSize"
                                max-pages-in-cache.bind=0
                                enable-sorting.bind="enableSorting"
                                enable-server-side-sorting.bind="enableServerSideSorting"
                                enable-filter.bind="enableFilter"
                                enable-server-side-filter.bind="enableServerSideFilter"
                                suppress-row-click-selection.bind="true"
                                row-selection="multiple"
                                grid-ready.call="onGridReady($event, $this)"
                                filter-changed.call="gridFilterFunc($event)"
                                selection-changed.call="gridSelectionChangedFunc($this)"
                                row-clicked.bind="rowSelectionChangedFunc"
                                does-data-flower.bind="doesDataFlower"
                                full-width-cell-renderer.bind="fullWidthCellRenderer"
                                is-full-width-cell.bind="isFullWidthCell"
                                get-row-height.bind="getRowHeight"
                                get-node-child-details.bind="getNodeChildDetails"
                                suppress-menu-filter-panel.bind="true"
                                debug>

        <!-- FIXME: Temporarily hiding actions, until DELETE action is available. -->
        <!--<ag-grid-column if.bind="showColumn('selection')" col-id="checkbox-col" header-name='' 
            width.bind="30" min-width.bind="30" 
            checkbox-selection.bind="true" suppress-sorting.bind="true" 
            suppress-filter.bind="true" suppress-resize.bind="true" 
            suppress-movable.bind="true" suppress-menu.bind="true" 
            pinned.bind="true" header-class.bind="ag-gridCheckboxHeader"></ag-grid-column>-->
        <ag-grid-column if.bind="showColumn('from')" min-width.bind="30" max-width.bind="30" width.bind="30" header-name="" suppress-sorting.bind="true" suppress-filter.bind="true">
            <ag-cell-template>
                <span>
                   <i show.bind="params.data.ackStatus === 'UNREAD'" class="fa fa-circle unread-alert" aria-hidden="true" title="Unread"></i>
                </span>
            </ag-cell-template>
        </ag-grid-column>
        <ag-grid-column if.bind="showColumn('attachments')" min-width.bind="30" max-width.bind="30" width.bind="30" header-name="" field="attachmentCount" suppress-sorting.bind="true" suppress-filter.bind="true">
            <ag-cell-template>
                <span>
                   <i show.bind="params.data.attachmentCount > 0" class="ico-attachment" aria-hidden="true" title="Attachments"></i>
                </span>
            </ag-cell-template>
        </ag-grid-column>
        <ag-grid-column cell-renderer.bind='group' header-class="ag-header-cell-left" min-width.bind="120" max-width.bind="120" width.bind="120" if.bind="showColumn('sentDate')" header-name="${'alerts.notifications.sentDate' | t}" field="formattedSentDate" width.bind="150" suppress-filter.bind="true"></ag-grid-column>
        <ag-grid-column header-class="ag-header-cell-left" width.bind="120" if.bind="showColumn('receivedDate')" header-name="${'alerts.notifications.receivedDate' | t}" field="formattedSentDate" width.bind="150" suppress-filter.bind="true"></ag-grid-column>
        <!--<ag-grid-column if.bind="showColumn('category')" header-name="${'alerts.notifications.category' | t}" field="notificationCategory.categoryName" filter.bind="getTextSearchFilter()"></ag-grid-column>-->
        <!--<ag-grid-column if.bind="showColumn('message')" header-name="${'alerts.notifications.message' | t}" field="message" hide.bind="true" filter.bind="getTextSearchFilter()"></ag-grid-column>-->
        <ag-grid-column if.bind="showColumn('to')" header-class="ag-header-cell-left" header-name="${'alerts.notifications.to' | t}" field="recipientFullName" filter.bind="getTextSearchFilter()">
            <ag-cell-template>
                <span>${params.data.recipientFullName} <span show.bind="!!(params.data.receiverReference.communityReceiver)">(<i class='ico-users'></i> ${params.data.receiverReference.communityReceiver.totalReceiversCount})</span></span>
            </ag-cell-template>
        </ag-grid-column>
        <ag-grid-column if.bind="showColumn('from')" header-class="ag-header-cell-left" header-name="${'alerts.notifications.from' | t}" field="senderFullName" filter.bind="getTextSearchFilter()"></ag-grid-column>
        <!--<ag-grid-column if.bind="showColumn('from')" header-name="${'alerts.notifications.from' | t}" field="senderReference.physicalPersonProfile.lastName" filter.bind="getTextSearchFilter()"></ag-grid-column>-->
        <ag-grid-column if.bind="showColumn('organization')" header-class="ag-header-cell-left" header-name="${'alerts.notifications.organization' | t}" field="senderReference.physicalPersonProfile.organization.organizationName" filter.bind="getTextSearchFilter()"></ag-grid-column>
        <ag-grid-column if.bind="showColumn('status')" header-tooltip="Read | Unread" min-width.bind="60" max-width.bind="60" width.bind="60" header-name="R | U" suppress-sorting.bind="true" suppress-filter.bind="true">
            <ag-cell-template>
                <span style="text-align: center;display: block;">${params.data.readCount} | ${params.data.unreadCount}</span>
            </ag-cell-template>
        </ag-grid-column>
        <ag-grid-column if.bind="showColumn('status')" header-tooltip="Accepted | Rejected" min-width.bind="60" max-width.bind="60" width.bind="60" header-name="A | R" suppress-menu.bind="true" suppress-sorting.bind="true" suppress-filter.bind="true">
            <ag-cell-template>
                <span style="text-align: center;display: block;">${params.data.acceptedCount} | ${params.data.declinedCount}</span>
            </ag-cell-template>
        </ag-grid-column>
        <ag-grid-column if.bind="showColumn('status')" header-tooltip="Replies" min-width.bind="60" max-width.bind="60" width.bind="60" header-name="Replies" suppress-sorting.bind="true" suppress-filter.bind="true">
            <ag-cell-template>
                <span style="text-align: center;display: block;">${params.data.repliedCount}</span>
            </ag-cell-template>
        </ag-grid-column>

        <!--<ag-grid-column if.bind="showColumn('category')" hide.bind="true" width.bind="0" get-quick-filter-text.bind="getMessageQuickFilterText(params)" if.bind="showColumn('organization')" header-name="group" field="notificationCategory.categoryName" suppress-sorting.bind="true" suppress-filter.bind="true">
            <ag-cell-template>
                <span >
                    ${params.data.notificationCategory.categoryName}
                </span>
            </ag-cell-template>
        </ag-grid-column>
        <ag-grid-column if.bind="showColumn('message')" hide.bind="true" width.bind="0" get-quick-filter-text.call="getMessageQuickFilterText"  if.bind="showColumn('organization')" header-name="group" field="message" suppress-sorting.bind="true" suppress-filter.bind="true">
            <ag-cell-template>
                <span >
                    ${params.data.message}
                </span>
            </ag-cell-template>
        </ag-grid-column>-->

    </ag-grid-aurelia>       
</template>