@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "blg_variables.scss";

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

*:focus {
  outline: none !important;
}

.checkbox input[type="checkbox"]:focus + label:before, 
.checkbox input[type="radio"]:focus + label:before {
    outline: none !important;
}

.spinner {
  opacity: 0.75 !important;
  background-color: $blg-wet-asphalt-light !important;
  left: 0;
}

body {
	background: url(../images/bkgr.jpg) no-repeat center center fixed;
	background-color: $blg-blue-grey;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body, .page-host {
	height: 100%;
}

.vertical-center {
	height:100%;
	width:100%;
	text-align: center;
}

.vertical-center:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.vertical-center > .container {
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.container .fa-spinner {
  font-size: 64px;
  color: $blg-blue;
  text-shadow: rgba(41, 128, 185, 0.5) 0 0 15px;
}

.login-logo {
	position: relative;
	top: 20px;
}

.login-form .alert {
	padding: 5px 10px;
	margin-bottom: 5px;
	border: 1px solid transparent;
	border-radius: 6px;
	font-size: 13px;
	line-height: 20px;
	text-align: left;	
}		

.copy {
	color: $blg-grey;
	font-size: 12px;
	position: relative;
	top: 20px;
}

.note {
	color: $blg-wet-asphalt;
	font-size: 14px;
	margin-left: 5px;
	margin-top: 3px;
	margin-bottom: 5px;	
	text-align: left;
	line-height: 20px;	
}

.login-form {
	max-width: 400px;
	margin: 0 auto;
}

form[role=login] {
	color: $blg-grey;
	background: $blg-white;
	padding: 0 50px 25px 50px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(35,109,158,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(35,109,158,0.75);
	box-shadow: 5px 5px 5px 0px rgba(35,109,158,0.75);
	min-height: 560px;	
}

form[role=login] > section {
	text-align: center;
	font-size: 14px;
	margin-top: 1em;
}

form[role=login] section a {
	color: $blg-blue;
}

form[role=login] h3 {
	font-size: 30px;
	text-align: center;
	color: $blg-grey-light;
	padding: 10px 0 5px 0;
}

form[role=login] span.glyphicon {
	color: $blg-grey-light;
}

form[role=login] input,
form[role=login] button {
	font-size: 16px;
	margin: 5px 0;
}

form[role=login] input {
	color: $blg-wet-asphalt;
	background: $blg-grey-lightest;
	border: none;
	padding-left: 40px;
	border: 1px solid $blg-grey-light-more;
}

form[role=login] input::-webkit-input-placeholder {
	color: $blg-grey-light;
}

form[role=login] input:-moz-placeholder {
	color: $blg-grey-light;
}

form[role=login] input::-moz-placeholder {
	color: $blg-grey-light;
}

form[role=login] input:-ms-input-placeholder {  
	color: $blg-grey-light;
}

form[role=login] button {
	line-height: 30px;
	font-weight: bold;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(24, 121, 158, 1);
		-moz-box-shadow: 0px 3px 0px 0px rgba(24, 121, 158, 1);
			box-shadow: 0px 3px 0px 0px rgba(24, 121, 158, 1);
	background: $blg-blue;
	border: none;
}

form[role=login] button:hover {
	background: $blg-blue-tint;
}
	
.login-form .form-control {
  padding-left: 40px;
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
  height: 38px;	
}

.login-form .form-control + .glyphicon {
  position: absolute;
  left: 0;
  top: 25%;
  padding: 7px 0 0 30px;
}

.errorMessage {
	min-height: 60px;
}

.errorMessage .alert li {
  list-style: none;
  margin-left: -38px;  
}

.alert .close {
    top: 0px;
    right: -3px;
}

.blg-wrapper {
  width: 100%;
  height: 100%;  
}

.blg-fixed-wrapper {
  background-color: $blg-blue-grey;
  height: 100%;	
}

// HEADER panel

header {
    background: $blg-white;
    height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 1450px;
}

header .logo {
    float: left;
    margin: 10px 0 0 20px;
}

header nav {
    float: left;
}

header nav ul li {
    display: inline-block;
    position: relative;
    background-color: $blg-white;
    height: 60px;
    margin-left: -5px;        
}

header nav ul li.active {
    background-color: $blg-blue-grey;
}

header nav ul li.active:hover {
    background-color: $blg-blue-grey;
}

header nav ul li.active a:hover {
    color: $brand-secondary;
    cursor: default;    
}

header nav ul li:hover {
    background-color: $blg-blue-light;
}

header nav ul li a:hover {
    color: $blg-white;
}

header::after {
    clear: both;
    content: "";
    display: block;
}

header nav ul li a {
    display: block;
    color: $brand-secondary;
    font-size: 18px;
    font-weight: 600;    
    padding: 14px 35px 14px 25px;
	text-decoration: none !important;
	transition: .25s;
}

header nav ul li a:focus {
    color: $brand-secondary;
}

header nav ul li a i {
    font-size: 22px;
    padding-right: 7px;
}

header .right-cont .drop-cont {
    padding: 10px 20px 9px 20px;
}

header .right-cont .jd-title {
    float: left;
    color: $brand-primary;
    padding: 0;
    position: relative;
    bottom: 3px;
    text-align: right;
    display: table;    
}

header .right-cont .caps-top {
    text-transform: uppercase;    
    font-size: 16px;
    font-weight: 600;
    color: $brand-secondary;
}

.caps-top-wrapper{
    display: table-cell;
}

header .right-cont .caps-bottom {
    color: $brand-primary;
    font-size: 12px;
    position: relative;
    bottom: 3px;
    display: table-cell;        
}

header .right-cont .jd-icon {
    float: left;
    width: 38px;
    height: 38px;
    background: $blg-green;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 0 15px;
    color: $blg-white;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
}

header .badge {
	font-size: 12px;
	font-weight: normal;
	color: $blg-white;
    background-color: $blg-green;
    border-radius: 12px;
    padding: 0px 6px;
    position: relative;
    bottom: 7px;
    left: 5px;
	line-height: 1.615;
}

header .navbar-nav {
    margin: 0;
}

.avatar-top {
  position: relative;
  right: 10px;
  display: table-cell;
  bottom: 0px;
}

.avatar {
  width: 42px;
  border-radius: 21px;    
}

.acc-settings {
  width: 55px;
  background-color: $blg-blue-light;
  display: table-cell;
  position: relative;
  bottom: 8px;
  left: 20px;
}

.acc-settings:hover {
  background-color: $blg-blue;
}

.acc-settings .dropdown-menu {
  margin: 0px;
  z-index: 1001;
}

.acc-settings .dropdown-menu > li > a {
  padding: 3px 15px;
}

.acc-settings .dropdown-menu > li > a:hover {
    text-decoration: none;
    color: $blg-white;
    background-color: $blg-blue;
}

.dropdown-menu i {
  margin-right: 10px;
}

.settings-toggle {
  height: 60px;
  position: relative;
  top: -1px;
  cursor: pointer;  
}

.btn-settings {
  font-size: 30px;
  color: $blg-white;
  position: relative;
  right: 13px;
  top: 14px;  
}

// Community

.blg-left-panel {
  position: absolute;
  width: 475px;
  left: 15px;
  top: 115px;
  background: transparent;
  border-radius: 3px;
  min-height: 600px;
  bottom: 0;
}

.blg-right-panel {
  position: absolute;
  width: 475px;
  right: 15px;
  top: 115px;
  background: transparent;
  border-radius: 3px;
  min-height: 600px;
  bottom: 0;
}

.blg-left-panel .blg-inner-content {
  border-bottom: 1px solid $blg-grey-lighter;
}

.blg-left-panel .blg-community-content {
  padding: 12px 10px 0px 0px;
  position: absolute;
  top: 94px;
  bottom: 15px;
  left: 0px;
  right: 0px;
  border-right: 2px solid $blg-grey-light;
  border-top: 1px solid $blg-grey-lighter;
  border-left: 2px solid $blg-grey-light;
  border-bottom: 2px solid $blg-grey-light;
  border-radius: 0px 0px 6px 6px;
  background-color: $blg-white;
  z-index: 0;
}

.blg-left-panel .blg-organization-content {
  padding: 12px 10px 0px 0px;
  position: absolute;
  top: 38px;
  bottom: 15px;
  left: 0px;
  right: 0px;
  border-right: 2px solid $blg-grey-light;
  border-top: 1px solid $blg-grey-lighter;
  border-left: 2px solid $blg-grey-light;
  border-bottom: 2px solid $blg-grey-light;
  border-radius: 0px 0px 6px 6px;
  background-color: $blg-white;
  z-index: 0;
}

.blg-right-panel .blg-connection-content {
  padding: 10px 5px 0px 5px;
  position: absolute;
  top: 39px;
  bottom: 15px;
  left: 0px;
  right: 0px;
  border-right: 2px solid $blg-grey-light;
  border-top: 2px solid $blg-grey-light;
  border-left: 2px solid $blg-grey-light;
  border-bottom: 2px solid $blg-grey-light;
  border-radius: 6px;
  background-color: $blg-white;
  z-index: 0;
}

.blg-left-panel .blg-community-content .blg-address-content,
.blg-left-panel .blg-organization-content .blg-address-content {
  min-height: 287px;
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow: hidden;
  width: auto;
}
.blg-left-panel .blg-community-content ul li,
.blg-left-panel .blg-organization-content ul li {
  cursor: pointer;
}
.blg-left-panel .blg-btns-content {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0px 0px 6px 6px;
  border-bottom: 2px solid $blg-grey-light;
  border-right: 2px solid $blg-grey-light;
  border-top: 0px;
  border-left: 2px solid $blg-grey-light;
}
.blg-left-panel .paging-line-bottom {
  position: absolute;
  height: 45px;
  bottom: 14px;
  left: 0px;
  right: 0px;
  border-bottom: 2px solid $blg-grey-light;
  border-right: 2px solid $blg-grey-light;
  border-top: 1px solid $blg-grey-lighter;
  border-left: 2px solid $blg-grey-light;
  border-radius: 0 0 6px 6px;
  background-color: $blg-white;
}

.community-list,
.organization-list {
  padding: 4px 5px 5px 0px;
  height: 100%;
  position: relative;
}
.conversation-list li, .community-list li {
  list-style: none;
}
.conversation-list > li, .community-list > li {
  cursor: pointer;
}
.conversation-list li:first-child:before, .community-list li:first-child:before {
  margin-top: 5px !important;
}
.conversation-list .trigger:before, .community-list .trigger:before {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: " ";
  background: $blg-white;
  border-radius: 20%;
  border: 2px solid $blg-grey-lighter;
  margin-top: 10px;
  margin-left: -30px;
  cursor: pointer;
}
.conversation-list .item-done:before, .community-list .item-done:before {
  font-family: 'Flat-UI-Pro-Icons';
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 21px;
  color: $blg-white;
  text-align: center;
  text-transform: none;
  content: "\e60a";
  background: $blg-blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  margin-top: 10px;
  margin-left: -30px;
  cursor: pointer;
}

.community-list-info-bar {
  padding: 0px 15px 0px 10px;
  //position: absolute;
  //top: 94px;
  //left: 0px;
  //right: 0px;
  //border-bottom: 1px solid $blg-grey-lighter;
  //border-right: 2px solid $blg-grey-light;
  //border-top: 0px;
  //border-left: 2px solid $blg-grey-light;
  //border-radius: 0px;
  //background-color: $blg-white;
  z-index: 999;
  font-size: 14px;
  display: table;
  width: 100%;
}
 
.organization-list-info-bar {
  padding: 0px 15px 0px 10px;
  position: absolute;
  //top: 44px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid $blg-grey-lighter;
  border-right: 2px solid $blg-grey-light;
  border-top: 0px;
  border-left: 2px solid $blg-grey-light;
  border-radius: 0px;
  background-color: $blg-white;
  z-index: 999;
  font-size: 14px;
  display: table;
  width: 100%;
  height: 37px;
}

.community-list-info-bar .checkbox-info,
.organization-list-info-bar .checkbox-info {
  display: table-cell;
  position: relative;
  left: 31px;
  bottom: 2px;
}

.community-list-info {
    padding-top: 7px;
}

.community-list-info-bar .checkbox input[type="checkbox"],
.organization-list-info-bar .checkbox input[type="checkbox"] {
    cursor: pointer;
}

.community-list-info-bar .checkbox input[type="checkbox"]:disabled,
.organization-list-info-bar .checkbox input[type="checkbox"]:disabled {
    cursor: no-drop;
}

.community-member-list {
  position: relative;
}

.community-item-head {
  border-radius: 6px !important;
}

.panel-default {
  padding: 1px 0px 0px 0px;
  border: none;
  display: inline-block;
  width: 100%;
}
.panel-default > .panel-heading {
  color: $blg-blue;
  background-color: $blg-blue-grey;
  border-radius: 6px;
}
.panel-default > .panel-heading:hover {
  color: $blg-blue-grey;
  background-color: $blg-blue-light;
  border-radius: 6px;
}
.panel-default > .panel-heading.active {
  color: $blg-blue-grey;
  background-color: $blg-blue;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-default > .panel-heading.active4 {
  color: $blg-blue-grey;
  background-color: $blg-blue;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: 1px solid $blg-blue;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.panel-group {
  margin-bottom: 10px;
}
.panel-body li {
  font-size: 12px;
  line-height: 1.214;
  color: $blg-grey;
  margin: 5px 0px 10px 0px;
}
.panel-heading {
  border-bottom: none;
  border-top-radius: 3px;
  padding: 3px 10px;
}
.panel-heading a {
  color: $blg-blue;
  text-decoration: none;
  transition: none;
}
.panel-heading a:hover,
.panel-heading a:hover:focus {
  color: $blg-white;
}
.panel-heading.active a,
.panel-heading.active4 a {
  color: $blg-white;
}

.panel-title {
  font-size: 15px;
  line-height: 1.22;
  font-weight: normal;
  overflow: hidden;
  cursor: pointer;
}

.panel-title a{
  font-size: 16px;
}

.conv-buttons-bar {
    padding: 10px 13px;
    box-shadow: 0px 1px 5px lightgrey;
    height: 51px;
}

.blg-tab-section {
    z-index: 1;
    margin-bottom: 20px;
    border-top: 2px solid $blg-grey-light;
    border-right: 2px solid $blg-grey-light;
    border-bottom: 0px;
    border-left: 2px solid $blg-grey-light;
    border-radius: 6px 6px 0px 0px;
    background-color: $blg-white;
}

.blg-right-panel .blg-tab-section {
    z-index: 1;
    margin-bottom: 20px;
    border-top: none;    
    border-right: 2px solid $blg-grey-light;
    border-bottom: 0px;
    border-left: 2px solid $blg-grey-light;
    border-radius: 6px 6px 0px 0px;
    background-color: $blg-white;
}

.btn {
  border: none;
  &.disabled,
  &[disabled],
  &[disabled]:focus,
  &[disabled]:hover,   
  fieldset[disabled] & {
    background-color: $btn-link-disabled-color;
    color: fade($btn-default-color, 75%);
    @include opacity(.7);
    cursor: $cursor-disabled;
  }
}

.btn.btn-default-blg {
  &.disabled,
  &[disabled],
  &[disabled]:focus,
  &[disabled]:hover,   
  fieldset[disabled] & {
    color: $blg-white;
    @include opacity(.7);
  }
}

.btn-sm-square {
  @include button-size(2px, 7px, $btn-font-size-sm-square, $btn-line-height-base, $border-radius-large);
  margin: 0px 1px 0px 0px;
}

.btn-xs-square {
  @include button-size(3px, 8px, $btn-font-size-xs-square - 1, $btn-line-height-base, $border-radius-large);
  margin: 0px 1px 0px 0px;
}

.btn-default-blg {
  @include button-variant($btn-default-blg-color, $btn-default-blg-bg, $btn-hover-blg-bg);
  box-shadow: inset 0px 0px 0px 1px $brand-secondary;
}

.btn-default-blg:hover {
    background-color: $blg-blue-grey;
}

.btn-default-blg:active {
    background-color: $blg-grey-lightest;
    -webkit-box-shadow: inset 0px 0px 0px 1px $brand-secondary;
    box-shadow: inset 0px 0px 0px 1px $brand-secondary;
}

.btn-default-blg:focus {
    background-color: $blg-white;
    -webkit-box-shadow: inset 0px 0px 0px 1px $brand-secondary;
    box-shadow: inset 0px 0px 0px 1px $brand-secondary;
}

.btn-default-blg:active:focus {
    background-color: $blg-grey-lighter;
}

.community-select-label {
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px;
}

.organization-select-label {
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px;
  font-size: 16px;
}

.select-default-blg {
  width: auto;
  border: 1px solid $brand-info;
  height: 36px;
  font-size: 14px;
  height: 30px;
  padding: 0px 5px;
  background-color: $blg-blue-grey;
  color: $blg-blue;
  cursor: pointer;
  margin-top: 2px;
  display: table-cell;
}

.form-control:focus {
  box-shadow: none;
  border-color: $blg-blue;
}

.left-select {
  float: left;
  display: table;
}

.right-select {
  float: right;
  display: table;
}

.conv-form-group {
  padding: 13px 10px 10px 10px;
}


.badge-owner {
  font-size: 9px;
  background-color: $blg-wet-asphalt-light !important;
  color: $blg-white !important;
  padding: 2px 5px;
  margin-top: 2px;
  float: right;
  line-height: 1.615;
  border-radius: 4px;      
}



.message-board,
.members-table,
.results-table {
  background: $blg-white;
  border-radius: 6px;
  margin: 75px 15px 10px 510px;
  position: absolute;
  box-sizing: border-box;
  min-height: 585px;
  bottom: 5px;
  top: 40px;
  right: 0;
  left: 0;
  min-width: 900px;
}

.members-table.connections-table {
  min-width: 0px;
}

.connections-table {
  margin: 75px 510px 10px 0px;
  left: 15px;
}

.message-board .blg-btns-content,
.members-table .blg-btns-content,
.results-table .blg-btns-content,
.received-table .blg-btns-content {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0px 0px 6px 6px;
  border-bottom: 2px solid $blg-grey-light;
  border-right: 2px solid $blg-grey-light;
  border-top: 1px solid $blg-grey-lighter;
  border-left: 2px solid $blg-grey-light;
}

.members-table .members-table-content,
.results-table .results-table-content,
.received-table .received-table-content {
  padding: 0px 5px 0px 5px;
  position: absolute;
  top: 136px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 2px solid $blg-grey-light;;
  border-right: 2px solid $blg-grey-light;
  border-top: 0px;
  border-left: 2px solid $blg-grey-light;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: $blg-white;
}
.message-board .message-board-header,
.members-table .members-table-header,
.results-table .results-table-header,
.received-table .received-table-header {
  background-color: $blg-blue;
  color: $blg-white;
  text-align: center;
  padding: 2px 0px 5px 0px;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 6px 6px 0px 0px;
  border-top: 2px solid $blg-blue;
  border-right: 2px solid $blg-blue;
  border-bottom: 0px;
  border-left: 2px solid $blg-blue;
  min-height: 40px;  
}

.message-board-icon,
.members-table-icon {
  width: 38px;
  height: 38px;
  background: $blg-blue-light;
  font-size: 16px;
  text-transform: uppercase;
  color: $blg-white;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
  margin-top: -5px;
}

.message-board .message-board-buttons-bar,
.members-table .members-table-buttons-bar,
.results-table .results-table-buttons-bar {
  padding: 10px 13px;
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  border-bottom: 0px;
  border-right: 2px solid $blg-grey-light;
  border-top: 0px;
  border-left: 2px solid $blg-grey-light;
  border-radius: 0px;
  background-color: $blg-white;
  box-shadow: 0px 1px 5px lightgrey;
  z-index: 999;
}

.members-table .members-table-info-bar,
.results-table .results-table-info-bar {
  padding: 5px 15px;
  position: absolute;
  top: 91px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid $blg-grey-lighter;
  border-right: 2px solid $blg-grey-light;
  border-top: 0px;
  border-left: 2px solid $blg-grey-light;
  border-radius: 0px;
  background-color: $blg-white;
  z-index: 998;
  font-size: 14px;
}

.members-table .panel-footer,
.results-table .panel-footer,
.received-table .panel-footer {
  padding-top: 8px;
  padding-left: 10px;
  height: 50px;
}

.dummy-btn {
  padding: 16px;
}

.members-table-info {
  width: 100%;
  padding-top: 5px;
  display: table;
}

.blg-dataTable {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  max-width: none !important;
  font-size: 14px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;  
}

table.blg-dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

.blg-dataTable thead th {
    color: $blg-blue;
    padding: 5px 18px 2px;
    font-weight: bold;
}

.blg-dataTable tbody td {
    padding: 5px 18px 2px;
}

.blg-dataTable td, .blg-dataTable th {
    position: relative;
    box-sizing: content-box;
}

.blg-dataTable th {
    width: auto;
}

table.blg-dataTable.display tbody td {
    border-top: 1px solid $blg-grey-light-more;
}

.list-item {
  display: table;
  width: 100%;
}

.list-item .checkbox {
  display: table-cell;
  vertical-align: middle;
}

.list-item .checkbox input[type="checkbox"] {
    margin-left: -23px;
    cursor: pointer;
}

.list-item .checkbox input[type="checkbox"]:disabled {
    cursor: no-drop;
}

.members-table-content table tbody .checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  left: 32px;
  width: 25px;
  top: 4px;
}

.members-table-content table thead .checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  left: 32px;
  width: 25px;
  top: 7px;
}

.members-table-content .checkbox input[type="checkbox"] {
  cursor: pointer;
  margin-left: -23px;
  margin-top: 3px;
}

.members-table-content .checkbox input[type="checkbox"]:disabled {
  cursor: no-drop;
}

.members-table-content .ag-header-cell,
.send-alert-members-table .ag-header-cell {
  text-align: left !important;
  margin-left: 5px !important;  
}

.members-table-content .ag-header-container {
  margin-top: 5px;
}
.ag-gridCheckboxHeader, .ag-pinned-left-header > .ag-header-row {
  cursor: default;
}

.ag-header-row,
.ag-blg img {
  cursor: pointer;
}

.ag-blg .ag-header-cell-menu-button {
  margin-top: 5px !important;
  float: left;  
}

.filter-label-text {
  position: relative;
  bottom: 2px;
  height: 50px;
  display: table-cell;
  white-space: nowrap;  
}

.clear-filters-link {
  position: relative;
  bottom: 1px;
  height: 31px;
  display: table-cell;
  white-space: nowrap;  
}

.filter-labels {
  display: table-cell;
  vertical-align: top;
  position: relative;
  left: 5px;
}

.table-label-blg {
  display: inline-block;  
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;
  vertical-align: super;
  background-color: $blg-blue-greyer;
  color: $blg-wet-asphalt-light;
}

.table-label-blg [class^="ico-"], 
.table-label-blg [class*="ico-"] {
    left: 2px;
}

.float-right {
  float: right;
}

.panel-title > a > i {
  margin-left: 3px;
  margin-top: 9px;
  &.ico-bubble-right{
    margin-top: 9px;
    margin-right: 1px;
  }
}
.ag-blg .ag-menu {
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
}
.ag-filter-filter, .ag-filter-select {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

a:focus {
    outline: none;
}

/* aurelia-dialog style overrides */
ai-dialog.blg-dialog {
  position: relative;
}

ai-dialog-overlay.active {
    opacity: 0.5 !important;
    background-color: $blg-wet-asphalt !important;
}

ai-dialog {
  min-width: 450px !important;
  display: table !important;
  font-size: 14px;
}

ai-dialog .alert {
	padding: 5px 10px;
	margin-bottom: 5px;
	border: 1px solid transparent;
	border-radius: 6px;
	font-size: 13px;
	line-height: 20px;
	text-align: left;	
}

ai-dialog .errorMessage {
  min-height: 38px;
}

.modal-header {
padding: 15px 20px;
border-bottom: 1px solid $blg-grey-light-more;
}

.modal-header-wizard {
padding: 15px 20px 20px 20px;
}

#wizard .modal-header-wizard {
padding: 15px 5px 0px 5px;
}

.modal-header-wizard-border {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-top: 1px solid $blg-grey-light-more;    
}


.modal-title {
  color: $blg-blue;  
  margin: 0;
  font-size: 21px;
  font-weight: 600;
  line-height: 30px;
}

wizard .modal-title {
  margin: 0 15px;
}

.modal-footer {
  padding: 15px;
  border-top: 0px;
}

wizard .modal-footer {
  margin: 0px 5px;  
}

.modal-footer button {
  min-width: 100px;
  margin-left: 10px;
  font-size: 14px;  
}

.modal-footer button.pull-left  {
  margin-left: 0px;
}

.blg-form-required:after { 
   content: "*";
   color: $blg-red-light;
}

.members-count {
  letter-spacing: -0.5px;
  position: relative;
  bottom: 3px;
}

.checkbox-info {
  width: 5px;
}

.community-name {
  display: inline-block;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.community-description {
  font-size: 12px;
  position: relative;
  top: -2px;
  color: $blg-grey;
  max-width: 355px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.community-item-head.active .community-description,
.community-item-head.active:hover .community-description {
  color: $blg-white;  
}

.community-item-head:hover .community-description {
  color: $blg-blue;  
}

.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=180);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  display: inline-block;
}

ai-dialog-container {
  & > div {
    padding: 0px !important;
  }
  overflow-y: hidden !important; 
}

.organization-members-table {
  width: 1000px;
  height: 400px;
  margin: 0px 15px;
}

.invisible {
  visibility: hidden;
}

.btn-filter i {
  margin-right: 5px;
  font-size: 15px;
}

.btn-filter:hover  {
  background-color: $brand-primary !important;
  color: $blg-white;
  text-decoration: none;
}

.btn-filter:focus  {
  text-decoration: none;
}

.toggleSelectedLink {
  margin-left: 20px;
  margin-right: 20px;
}

.ag-filter {
  margin: 4px;
} 

.dialog-section {
  margin-left: 15px;
  margin-right: 15px;
}

.btn-filter.btn-xs {
  padding: 3px 8px 4px;
  background-color: $blg-wet-asphalt-lighter;
  color: $blg-white;
  margin-left: 5px;
}

.btn-filter[disabled],
.btn-filter[disabled]:focus {
  color: $blg-white;
  box-shadow: none;
  background-color: $btn-link-disabled-color !important;
}


.map {
  width: 100%;
  text-align: center;
  text-align: -moz-center;
}

.map-container {
	width: 1030px;
	border-collapse: collapse;
	table-layout: fixed;	
}

.map-steps i {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: $blg-white;
  text-align: center;
}
.map-steps li {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 2px solid $blg-blue;
	border-radius: 50%;
	background: $blg-white;
	padding: 2px;
	overflow: hidden;
}

.map-steps li.active i {
	background: $blg-blue;
}

.map-steps li.complete i {
	background: $blg-blue-light;
}

.step:first-child .line-left hr {
	visibility: hidden;
}

.step:last-child .line-right hr {
	visibility: hidden;
}

.step-box {
	width: 100%;
}

.line-left,
.line-right {
    border-left: 1px dashed transparent;
    border-right: 7px dashed transparent;    
}

.step-label {
	white-space: nowrap;
	text-align: center;
}

.line-left hr,
.line-right hr {
	position: relative;
	bottom: 2px;
}

.step hr {
	width: 102%;
	border: 1px solid $blg-blue;	
}

.step-circle {
	width: 30px;
}

.map-check {
  font-size: 20px;
  color: $blg-white;
  margin-top: 5px;
  visibility: hidden;
}

.step-container {
  padding: 0px 15px;
  height: 255px;
}

.step-container.nodetail {
  display: flex;
  justify-content: center;
  min-height: 250px;  
}

.step-error {
  overflow: auto;
  height: 210px;
  border: 1px solid $blg-grey-light-more;
  background-color: $blg-grey-lightest;
  border-radius: 5px;  
}

.step-message {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.step-summary-message {
  font-size: 16px;
  margin-bottom: 2px;
  text-align: center;
}

.step-message-header {
  font-size: 24px;
  color: $blg-blue;
}

.step-message.nodetail {
  align-self: center;
}

.step-row {
    margin-left: 5px;
}

.step-row.error {
    color: $blg-red-light;  
}
li.complete .map-check {
  visibility: visible;
}

.organization-panel-list {
  width: 447px;  
}

.blg-organization-content ul {
  position: relative;
  right: 29px;
}

.select-file {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 70px 0 50px;
}

.inputfile,
.inputfile2 {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  color: $blg-blue;	
}

.inputfile + label:hover {
  color:  mix($blg-blue, black, 80%);
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
  width: 100%;
  height: 100%;
  fill: $blg-white;
}

.inputfile + label figure {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: $blg-blue;
  display: block;
  padding: 15px;
  margin: 0 auto 5px;
}

.inputfile + label:hover figure,
.inputfile2 + label:hover strong {
  background-color:  mix($blg-blue, black, 80%);
}

.inputfile2 + label {
  max-width: 80%;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  color: $blg-blue;
  border: 1px solid $blg-blue-light;
  background-color: $blg-white;
  border-radius: 5px;    	
}

.inputfile2 + label svg {
  fill: currentColor;
  position: relative;
  top: 2px;
  margin-right: 4px;  
}

.inputfile2 + label i {
  font-size: 18px;
}

.inputfile2 + label strong {
  color: $blg-white;
  height: 100%;
  background-color: $blg-blue;
  display: inline-block;
  padding: 5px 10px;
  font-weight: normal;          
}

.inputfile2 + label span {
  width: 400px;
  min-height: 2em;    
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  padding: 5px 10px;
  text-align: center;
  font-weight: normal;      
}


.btn-default-blg.cancel {
  margin-right: 20px;
}

.copyright {
  bottom: -15px;
  position: absolute;
  font-size: 14px;
}

.copyright a {
  color: $blg-blue;
}

.send-alert-members-table {
  height: 320px;
  padding: 3px;
  border: 1px solid $blg-grey-light;
  border-radius: 5px;
  margin: 5px 15px 0px;
}

.wizard-content-label {
  font-size: 16px;
  position: relative;
  font-weight: 700;
  color: $blg-wet-asphalt-lighter;
}

.send-alert-message-text {
  height: 187px;
  padding: 3px 5px;
  border: 1px solid $blg-blue-light;
  border-radius: 5px;
}

.wizard-result-message-prefix {
  font-weight: bold;
}

.wizard-result-message-prefix-error {
  color: $blg-red-light;
}

.div-table{
	display: table;
	width: 100%;
  padding: 0px 15px 0px 0px;
}

.step-process .div-table{
  display: table;
  width: auto;
  padding: 0;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;  
}

.div-table-body {
	display: table-row-group;
}
.div-table-row {
	display: table-row;
}
.div-table-cell {
	display: table-cell;
	padding: 0px 0px 15px 0px;
}

.step-process .div-table-cell {
	display: table-cell;
  padding: 0px 4px;    
}

.step-process {
  width: 100%;  
}

.column-label {
  text-align: right;
  vertical-align: top;
  width: 15%;
  padding-right: 10px;  
}

.process-label {
  text-align: right;
  color: $blg-blue;
  font-weight: 400;
}

.alert-counter {
  position: relative;
  top: 15px;
  font-size: 12px;
}

.send-alert-textarea {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;  
  border: none;    
}

#model-dialog-body {
  display: block;
  padding: 15px;
}

#wizard #model-dialog-body {
  padding: 5px;
}

.send-alert-remove-attachment {
  background-color: transparent;
  position: relative;
  bottom: 2px;  
}

.send-alert-remove-attachment:hover {
  color: mix($blg-blue, black, 80%);  
}

.send-alert-remove-attachment i {
  font-size: 24px !important;
}

.select-organization {
  max-width: 450px;
  text-overflow: ellipsis;
}

span.recipientsListItem:not(:last-child)::after {
  content: ', ';
}
.recipientListMessage {
  display: inline-block;
  overflow-x: auto;
}
.recipientsList {
  max-width: 600px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipientsListContainer::before {
  content: '(';
  overflow-x: auto;
  display: inline-block;
}
.recipientsListContainer::after {
  content: ')';
  overflow-x: auto;
  display: inline-block;
}

.wizard-error {
  padding: 0px 15px 10px 165px;
  min-height: 47px !important;  
}

.step-container.nodetail.send-alert {
  min-height: 403px !important;  
}

.flex-parent {
  display: flex;
  flex-direction: row;
  
}
.flex-child {
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.discover-list li {
    list-style: none;
}

.discover-list ul {
    margin-left: -23px;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 17px;
}

.discover-list .select-default-blg {
  width: 110px;
  display: inline-block;
}

.discover-input {
  display: inline-block;
  margin-left: 1px;
  margin-top: 1px;    
}
.discover-input input {
  height: 31px !important;
}

.discover-icon {
  float: right;
}
.discover-icon i {
  font-size: 24px;
  position: relative;
  top: 5px;
  left: 3px;
  color: #2980b9;
  cursor: pointer;
}

.blg-search-content .form-group {
    margin-bottom: 0px;
    vertical-align: top;
}

.add-line {
  margin-top: 7px;
}

.discover-line {
  margin-bottom: 7px;
}

.add-line-btn {
  width: 115px;
}

.add-line i {
  margin-right: 10px;
}

.blg-left-panel .blg-search-content {
  position: absolute;
  top: 54px;
  bottom: 85px;
  left: 0px;
  right: 0px;
  border-right: 2px solid $blg-grey-light;
  border-top: 1px solid $blg-grey-lighter;
  border-left: 2px solid $blg-grey-light;
  border-bottom: none;
  border-radius: 0px;
  background-color: $blg-white;
  z-index: 0;
}

.discover-footer {
  text-align: right;
}

.discover-footer button {
  min-width: 100px;
  margin-left: 5px;
  font-size: 14px;  
}

.blg-left-panel .discover-footer {
  position: absolute;
  height: 70px;
  left: 0px;
  right: 0px;
  border-top: 1px solid $blg-grey-light;  
  border-bottom: 2px solid $blg-grey-light;
  border-right: 2px solid $blg-grey-light;
  border-left: 2px solid $blg-grey-light;
  border-radius: 0 0 6px 6px;
  background-color: $blg-white;
  padding-top: 15px;
  padding-right: 15px;
  bottom: 15px;
    
}

.tabs-bar {
  position: relative;
  top: 65px;  
}

.nav-tabs.tabs-bar > li.active > a, 
.nav-tabs.tabs-bar > li.active > a:hover, 
.nav-tabs.tabs-bar > li.active > a:focus {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: transparent;
  color: $blg-blue;
  font-weight: 700;
  font-size: 16px;
  top: 1px;
  text-decoration: none;
  left: -2px;
}

.nav-tabs.tabs-bar > li > a {
  font-weight: 400;
  top: 3px;
  color: $blg-wet-asphalt-light;
  width: 175px;      
}

.nav-tabs.nav-append-content.tabs-bar > li.active:first-child:before {
    display: none;
}

.nav-tabs.tabs-bar > li > a:hover {
  text-decoration: underline;
  color: $blg-wet-asphalt-light;
}

.tab-icon {
  visibility: hidden;
  margin-right: 5px;
}

.nav-tabs.tabs-bar > li.active > a > i {
  visibility: visible !important;  
}

.requests-grid {
  position: absolute;
  top: 20px;
  width: 97.95%;  
}

#receivedRequestsGrid.requests-grid {
  bottom: 210px;
}

#sentRequestsGrid.requests-grid {
  bottom: 5px;
}

#receivedRequestsGrid .ag-row {
  cursor: pointer;
}

.requests-content {
  height: 100%;
}

.cancel-request {
  top: 2px;
  right: 4px;  
  font-size: 18px;
  color: $blg-red-light;
  cursor: pointer;
}

.request-details {
  position: absolute;
  left: 0px;
  right: 0px;  
  height: 200px;
  bottom: 5px;
  border-top: 1px solid $blg-grey-light;
  background-color: $blg-white; 
}

.request-details .modal-footer {
  position: absolute;
  padding: 15px;
  bottom: -4px;
  right: 0;
}

.table-label {
    width: 110px;
    text-align: right;
    vertical-align: top;
    color: $blg-blue;
    font-weight: 900;
    padding: 0px 10px 0px 0px;
}

.table-text {
    vertical-align: top;
    padding-bottom: 0px;
}

.request-details-content {
  padding: 15px;
  font-size: 15px;
}

.datepicker > div.datepicker-days {
  display: block;
}

.input-group.date {
  width: 220px;
  display:inline-block; 
}

.input-group.date > input {
  width: 180px;
}